@import url('https://fonts.cdnfonts.com/css/poppins');


/*    Home page  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
}


body {
  width: 100%;
  background-color: #fff;
  font-family: "Poppins", serif;
  zoom: 80%;
}


/* Main Start */


#Main {
  padding-top: 10px;
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(45deg, #8490ff, #443B96, #62bdfc);
  background-size: 500% 500%;
  animation: change-gradient 5s ease-in-out infinite;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.13);
  z-index: 997;
  position: sticky;
  top: 0;
  left: 0%;
}

@keyframes change-gradient {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}


/* header */


#Main a {
  text-decoration: none;
  color: #fff;
}

#Main h3 {
  margin: 10px 30px;
  font-size: 30px;
  font-weight: 600;
}

#navbar {
  margin: 10px;
  display: flex;
  align-items: end;
  justify-content: center;
}

#navbar li {
  margin: 10px;
  padding: 10px;
  display: inline-block;
  background: transparent;
  list-style: none;
  position: relative;
}

#navbar li a {
  color: #fff;
  line-height: 60px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  transition: 0.3s ease;
  letter-spacing: .5px;
  cursor: pointer;
}

#navbar li a:hover,
#navbar li a.active {
  color: #222;
  box-sizing: content-box;
  padding: 0;
  transition: color .1s linear;
}

#navabar li a.active::after,
#navbar li a:hover::after {
  height: 2px;
  position: absolute;
  transition: color .1s linear;
}

.btn {
  background-color: #333;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: color .4s linear;
}

.success {
  border-radius: 10px;
  border: 1px solid #333;
  padding: 10px 15px;
  color: #fff;
  transition: color .4s linear;
}

.success:hover {
  background-color: #f9f9ff;
  color: #222;
  border: 1px solid #f9f9ff;
  transition: color .4s linear;
}
.contact{
  /* content:""; */
  position: relative;
  min-height: 100vh;
  padding: 50px 100px;
  display: grid;
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */
  /* background: url(flights.jpg);; */
  /* background-size: cover; */
  /* opacity:0.3; */
}
.contact::before{
  background: url(f34.jpg);;
  background-size: cover;
  content:"";
  position: absolute;
  inset:0;
  opacity:0.1;
}
.contact .content{
  width: 80%;
  text-align: center;
}
.contact .content h2{
  font-size: 60px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 900;
  color:#8b2323;
  align-content: center;
  margin-left: 400px;
}
.container{
  width: 100%;
  /* height: 100%; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10rem;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-left: 10px;
}
/* .container .contactInfo{
  width: 50%;
  display: flex;
  flex-direction: column;
} */
.container .contactInfo .box{
  position: relative;
  padding: 20px 0;
  display: flex;
}
.container .contactInfo .box .icon{
  min-width: 60px;
  height: 60px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 22px;
}
.container .contactInfo .box .text{
  display: flex;
  margin-left: 20px;
  font-size: 20px;
  color: #0b0808;
  flex-direction: column;
  font-weight: 500;
}
.container .contactInfo .box .text h3{
  font-weight: 700;
  color: #4e00d4;
}
.contactCard{
  margin-left: 200px;
  width:50%;
  /* height: 80%; */
  margin-right: 50px;
  padding-top: 100px;
  background: #fff;
}
.contactCard img{
  width:100%;
  height: 60%;
  opacity: 0.9;
}
/* .contactCard img{
  width: 40%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 10rem;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
} */
.contact__card__content {
  position: relative;
  padding: 1rem;
  text-align: center;
}

.contact__card__content img {
  position: absolute;
  max-width: 70px;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid var(--extra-light);
  border-radius: 100%;
}

.contact__card__content h4 {
  margin-top: 1.5rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--text-dark);
}

.contact__card__content p {
  font-weight: 500;
  color: var(--text-light);
}

#Footer {
  justify-content: center;
  /* position: bottom; */
  background: #111;
  width: 100%;
  position:absolute;
   left:0;
   right:0;
  /* padding: 5px; */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.13);
  z-index: 100;
}


.footer {
  padding: 20px 20px 0 20px;
  position: relative;
  text-align: center;
}

.footer h3 {
  margin: 10px 40px;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  color: #fff;
}

.footer p {
  margin: 10px 40px;
  font-size: 18px;
  color: silver;
  text-align: center;
  letter-spacing: 1px;
}